<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boha.monitor.supervisor" >

    <!-- PROD API KEY:   AIzaSyDLKxbwrZO0kvsUWARNsm598QHXu0_ATX4
 -->
    <!-- DEBUG API KEY:  AIzaSyBncjb7-oqexK0fKJdfy365tVJUNLkxRkE
 -->


    <!-- PERMISSIONS -->
    <permission
        android:name="com.boha.platform.supervisor.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.boha.platform.supervisor.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:name="com.boha.monitor.library.activities.MonApp"
        android:allowBackup="true"
        android:icon="@drawable/glasses48"
        android:label="@string/app_name"
        android:theme="@style/BrownTheme" >

        <!-- Keys and metadata -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBncjb7-oqexK0fKJdfy365tVJUNLkxRkE" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- SERVICES -->
        <service android:name="com.boha.monitor.library.services.RegistrationIntentService" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.boha.platform.staffapp" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.boha.monitor.supervisor.services.StaffGCMListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.boha.monitor.library.services.MonInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <!-- ACTIVITIES -->
        <activity
            android:name="com.boha.monitor.supervisor.activities.SignInActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.boha.monitor.supervisor.activities.StaffMainActivity"
            android:label="@string/title_activity_staff_drawer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.boha.monitor.library.activities.TaskTypeListActivity"
            android:parentActivityName="com.boha.monitor.supervisor.activities.StaffMainActivity" />
        <activity android:name="com.boha.monitor.library.activities.UpdateActivity" />
        <activity
            android:name="com.boha.monitor.library.activities.ThemeSelectorActivity"
            android:parentActivityName="com.boha.monitor.supervisor.activities.StaffMainActivity" />
        <activity
            android:name="com.boha.monitor.library.activities.PictureActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.boha.monitor.supervisor.activities.StaffMainActivity" />
        <activity android:name="com.boha.monitor.library.activities.PhotoListActivity" />
        <activity
            android:name="com.boha.monitor.library.activities.GPSActivity"
            android:parentActivityName="com.boha.monitor.supervisor.activities.StaffMainActivity" />
        <activity
            android:name="com.boha.monitor.library.activities.StatusReportActivity"
            android:parentActivityName="com.boha.monitor.supervisor.activities.StaffMainActivity" />
        <activity
            android:name="com.boha.monitor.library.activities.ProjectMapActivity"
            android:parentActivityName="com.boha.monitor.supervisor.activities.StaffMainActivity" />
        <activity
            android:name="com.boha.monitor.library.activities.MonitorMapActivity"
            android:parentActivityName="com.boha.monitor.supervisor.activities.StaffMainActivity" />
        <activity
            android:name="com.boha.monitor.library.activities.VideoActivity"
            android:parentActivityName="com.boha.monitor.supervisor.activities.StaffMainActivity" />
        <activity
            android:name="com.boha.monitor.library.activities.ProfilePhotoActivity"
            android:parentActivityName="com.boha.monitor.supervisor.activities.StaffMainActivity" />
    </application>

</manifest>
