<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boha.platform.monitor" >


    <!-- DEV API KEY
        AIzaSyCvqpSPbAdN4b-jPvn9RNn1G-iHGe674DQ
        88:04:DF:2B:68:40:60:A3:31:81:2F:71:1F:2D:71:FB:F7:71:F9:57;com.boha.platform.monitor
    -->
    <!-- RELEASE API KEY
            AIzaSyDUJzuwSOkUzbx9X1_pJQspwXsDF6KoF-w
            4F:72:A0:21:0F:AD:8D:6B:EC:B5:83:49:13:CB:64:75:74:62:1A:A7;com.boha.platform.monitor
     -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.boha.monitor.library.activities.MonApp"
        android:theme="@style/TealTheme" >
        <!-- Keys and metadata -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCvqpSPbAdN4b-jPvn9RNn1G-iHGe674DQ" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".activities.SignInActivity"
            android:label="@string/monitor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.GcmIntentService" />

        <receiver
            android:name=".services.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.boha.citizenapp.ethekwini" />
            </intent-filter>
        </receiver>


        <activity
            android:name=".activities.MainDrawerActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_main_drawer" >
        </activity>
        <activity
            android:name="com.boha.monitor.library.activities.ProjectTaskListActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.boha.monitor.library.activities.TaskTypeListActivity" >
        </activity>
        <activity android:name="com.boha.monitor.library.activities.CameraActivity"/>
        <activity android:name="com.boha.monitor.library.activities.ThemeSelectorActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.boha.monitor.library.activities.TaskUpdateActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.boha.monitor.library.activities.TaskTypeListActivity"
            android:label="@string/title_activity_task_update" >
        </activity>
        <activity
            android:name="com.boha.monitor.library.activities.TaskTypeListActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainDrawerActivity" >
        </activity>
        <activity android:name="com.boha.monitor.library.activities.PictureActivity"/>
        <activity android:name="com.boha.monitor.library.activities.TestActivity"/>
        <activity android:name="com.boha.monitor.library.activities.GPSActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainDrawerActivity"/>
        <activity
            android:name="com.boha.monitor.library.activities.PhotoListActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_photo" >
        </activity>
        <activity android:name="com.boha.monitor.library.activities.MonitorMapActivity"
            android:parentActivityName=".activities.MainDrawerActivity"/>
    </application>

    <permission
        android:name="com.boha.platform.monitor.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.boha.platform.monitor.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


</manifest>
