<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boha.platform.library">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
     />

    <application
        android:allowBackup="true"
        android:label="@string/app_name">

        <!-- SERVICES -->
        <service android:name="com.boha.monitor.library.services.GPSLocationService" />
        <service android:name="com.boha.monitor.library.services.PhotoUploadService" />
        <service android:name="com.boha.monitor.library.services.VideoUploadService" />
        <service android:name="com.boha.monitor.library.services.RequestSyncService" />
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!-- RECEIVERS -->
        <receiver android:name="com.boha.monitor.library.services.LocationTrackerReceiver" />
        <receiver android:name="com.boha.monitor.library.services.BootReceiver" />
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.boha.monitor.library.activities.SimpleMessagingActivity"
            android:label="@string/title_activity_messaging" />
        <activity
            android:name="com.boha.monitor.library.activities.PhotoScrollerActivity"
            android:label="@string/title_activity_photo_scroller" />



        <activity
            android:name="com.boha.monitor.library.activities.DeviceListActivity"
            android:label="@string/title_activity_location_tracker" />

    </application>

</manifest>
