<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boha.platform.library">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name">

        <!-- SERVICES -->
        <service android:name="com.boha.monitor.library.services.GPSLocationService" />
        <service android:name="com.boha.monitor.library.services.PhotoUploadService" />
        <service android:name="com.boha.monitor.library.services.VideoUploadService" />
        <service android:name="com.boha.monitor.library.services.YouTubeService" />
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.boha.monitor.library.services.DataTaskService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
        <service
            android:name="com.boha.monitor.library.tasks.TrackerService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
        <service
            android:name="com.boha.monitor.library.tasks.PhotoTaskService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
        <service
            android:name="com.boha.monitor.library.tasks.YouTubeTaskService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
        <service
            android:name="com.boha.monitor.library.tasks.RequestsTaskService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <!-- RECEIVERS -->
        <receiver android:name="com.boha.monitor.library.services.LocationTrackerReceiver" />
        <receiver android:name="com.boha.monitor.library.services.RequestAlarmReceiver" />
        <receiver android:name="com.boha.monitor.library.services.DataRefreshReceiver" />
        <receiver android:name="com.boha.monitor.library.services.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.boha.monitor.library.activities.PhotoScrollerActivity"

            android:label="@string/title_activity_photo_scroller" />
        <activity
            android:name="com.boha.monitor.library.activities.LocationTrackerListActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_location_tracker" />
        <activity
            android:name="com.boha.monitor.library.activities.ProfileActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.boha.monitor.library.activities.ProjectAssignmentActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_project_assignment" />
        <activity
            android:name="com.boha.monitor.library.activities.HighDefActivity"
            android:label="@string/title_activity_high_def" />
        <activity
            android:name="com.boha.monitor.library.activities.CameraActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.boha.monitor.library.activities.ProjectSelectionActivity"
            android:label="@string/title_activity_project_selection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service
            android:name="com.boha.monitor.library.services.RequestIntentService"
            android:exported="false" />
        <service
            android:name="com.boha.monitor.library.services.DataRefreshService"
            android:exported="false" />

        <activity
            android:name="com.boha.monitor.library.activities.ProjectTaskActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_project_task" />

        <receiver
            android:name="com.boha.monitor.library.services.PhotoUploadBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.boha.monitor.library.services.GeofenceIntentService"
            android:exported="false" />

        <receiver
            android:name="com.boha.monitor.library.services.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.boha.monitor.library.activities.YouTubeActivity"
            android:label="@string/title_activity_test_you_tube" />
        <activity
            android:name="com.boha.monitor.library.activities.VideoPlayerActivity"
            android:label="@string/title_activity_video_player" />
        <activity
            android:name="com.boha.monitor.library.activities.YouTubePlayerActivity"
            android:label="@string/title_activity_you_tube_player" />

        <receiver
            android:name="com.boha.monitor.library.services.YouTubeUploadReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.boha.monitor.library.activities.LocalVideoPlayerActivity"
            android:label="@string/title_activity_local_video_player" />


    </application>

</manifest>