<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boha.monitor.library" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <service
            android:name="com.boha.monitor.library.services.PhotoUploadService"
            android:exported="false" />

        <activity
            android:name="com.boha.monitor.library.activities.AppInvitationActivity"
            android:label="@string/title_activity_app_invitation" />
        <activity
            android:name="com.boha.monitor.library.activities.StaffActivity"
            android:label="@string/title_activity_staff"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service
            android:name="com.boha.monitor.library.services.RequestSyncService"
            android:exported="false" />
        <service
            android:name="com.boha.monitor.library.services.StatusSyncService"
            android:exported="false" />

        <activity
            android:name="com.boha.monitor.library.activities.PictureActivity"
            android:label="@string/title_activity_picture"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.boha.monitor.library.activities.FullPhotoActivity"
            android:label="@string/title_activity_full_photo" >
        </activity>
        <activity
            android:name="com.boha.monitor.library.activities.ProjectSitePagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PagerTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <receiver
            android:name="com.boha.monitor.library.services.LocationTrackerReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <receiver
            android:name="com.boha.monitor.library.services.BootReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <service
            android:name="com.boha.monitor.library.services.GPSService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name="com.boha.monitor.library.activities.GPSActivity"
            android:theme="@style/PagerTheme" >
        </activity>
        <activity
            android:name="com.boha.monitor.library.activities.StaffTrackerActivity"
            android:theme="@style/PagerThemeNoActionBar" >
        </activity>
        <activity
            android:name="com.boha.monitor.library.activities.StaffPictureActivity"
            android:label="@string/title_activity_staff_picture" >
        </activity>
        <activity
            android:name="com.boha.monitor.library.activities.ChatMemberSelectionActivity"
            android:theme="@style/PagerThemeNoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.boha.monitor.library.activities.NewChatActivity"
            android:theme="@style/PagerThemeNoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.boha.monitor.library.activities.ChatMessageListActivity"
            android:theme="@style/PagerThemeNoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.boha.monitor.library.activities.Main2Activity"
            android:label="@string/title_activity_main2" >
        </activity>
    </application>

</manifest>
